<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BloodApp">

        <!-- Registration Activity -->
        <activity android:name=".RegisterActivity" />

        <!-- Login Activity -->
        <activity android:name=".LoginActivity" />

        <!-- Dashboard Activity -->
        <activity android:name=".DashboardActivity" />

        <!-- Request Blood Activity -->
        <activity android:name=".RequestBloodActivity" />

        <!-- Donate Blood Activity -->
        <activity android:name=".DonateBloodActivity" />

        <!-- My Requests Activity -->
        <activity android:name=".MyRequestsActivity" />

        <!-- My Profile Activity -->
        <activity android:name=".ProfileActivity" />



        <!-- Main Activity -->
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
